<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <title>Schaeffler Group North America</title>

    <!-- Favicons -->
    <link href="img/favicon.png" rel="icon">
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Bootstrap core CSS -->
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!--external css-->
    <link href="lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">
    <link href="css/style-responsive.css" rel="stylesheet">
    <script type="text/java      vfscript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.min.js"></script>
    <script src="Scripts/angular.js"></script>
    <script type="text/javascript" src="Scripts/login.js"></script>
    <!-- =======================================================
      Template Name: Dashio
      Template URL: https://templatemag.com/dashio-bootstrap-admin-template/
      Author: TemplateMag.com
      License: https://templatemag.com/license/
    ======================================================= -->
</head>

<body>

    <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
    <div ng-app="Myapp" ng-controller="Mycontroller">
        <div id="login-page">
            <div class="container">
                <form class="form-login" name="myForm">
                    <h2 class="form-login-heading">Sign in to the Feedback App</h2>
                    <div class="login-wrap">
                        <!--<input type="email" name="myemail" class="form-control" placeholder="User ID" ng-model="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>-->

                        <input type="text" style=" border-radius: 25px;border: 1px solid #cccccc;padding: 20px; width: 150px;height: 10px; " placeholder="Email ID" name="myemail" ng-model="email" pattern="[A-Za-z0-9._%+-]+" required /> @schaeffler.com
                        <span ng-show="myForm.myemail.$touched && myForm.myemail.$invalid" style="color:red;">Invalid!! Please type just the ID and not the Full Email, Required Field</span>
                        <br />
                        <!--<input type="text" name="myemail" class="form-control" placeholder="User ID" ng-model="email" >
    <span ng-show="myForm.myemail.$touched && myForm.myemail.$invalid" style="color:red;">Required Field</span>-->
                        <br />
                        <input type="password" name="password" class="form-control" placeholder="Password" ng-model="password" pattern="[A-Z]{1}[A-Za-z0-9\W]{7,}" required>
                        <span ng-show="myForm.password.$touched && myForm.password.$invalid" style="color:red;">Required Field</span>
                        <br />

                        <input type="button" class="btn btn-theme btn-block" value="SIGN IN" ng-click="LoginData()" />

                        <span class="pull-right">
                            <a data-toggle="modal" href="login.html#myModal">Forgot Password?</a>
                        </span>
                        <br />
                        <hr>
                        <div class="registration">
                            Don't have an account yet?<br />
                            <a class="" href="signup.html">

                                Create an account
                            </a>
                            <br />
                          
                            <!--<a class="" href="VerifyOTP.html">
            Verify Access code for Login
        </a>-->

                        </div>
                    </div> 
                    <!-- Modal -->
                    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title">Forgot Password ?</h4>
                                </div>
                                <div class="modal-body">
                                    <p>Enter your e-mail address below to reset your password.</p>
                                    <input type="text" name="email" placeholder="Email" class="form-control placeholder-no-fix" ng-model="forgotEmail" required>
                                </div>
                                <div class="modal-footer">
                                    <button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>
                                    <button class="btn btn-theme" type="button" ng-click="ForgotData()">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- modal -->
                </form>
            </div>
            
        </div>
    </div>
    <!-- js placed at the end of the document so the pages load faster -->
    <script src="lib/jquery/jquery.min.js"></script>
    <script src="lib/bootstrap/js/bootstrap.min.js"></script>
    <!--BACKSTRETCH-->
    <!-- You can use an image of whatever size. This script will stretch to fit in any screen size.-->
    <!--<script type="text/javascript" src="lib/jquery.backstretch.min.js"></script>
    <script>
        $.backstretch("", {
            speed: 500
        });
    </script>-->
</body>

</html>
